*{
    margin: 0;
    padding: 0;
    overflow: auto;
}
body{
    background-image: url(./assets/download.png);
}

.logo{
    position: fixed;
    bottom: 0;
    right: 0;
}

.nav{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.ul{
    display: flex;
    justify-content: center;
    gap: 60px;
    color: #ffc233;
    font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

.order{
    padding: 8px 40px;
    background-color: #ff505f;
    border-radius: 5px;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
}

.main{
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
}
.h1{
    font-weight: 400;
    font-size: 70px;
    line-height: 90px;
    color: #ffc233;
    margin-bottom: 15px;
}

.ord{
    padding: 6px 40px;
    background-color: #ff505f;
    border-radius: 6px;
    font-family: "Red Rose";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 50px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 540px;
 }

